<?xml version="1.0" encoding="UTF-8"?>

<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security.xsd">
           
    <beans:bean id="appUserDetailsService" 
    	class="br.com.sysresto.security.AppUserDetailsService"/>

	<http pattern="/javax.faces.resource/**" security="none" />
	<http pattern="/index.xhtml" security="none" />

	<http auto-config="false" use-expressions="true">
		<intercept-url pattern="/home.xhtml" access="isAuthenticated()" />
		<intercept-url pattern="/paginas/gerente/**" access="hasAnyRole('GERENTE')" />
		<intercept-url pattern="/paginas/garcom/**" access="hasAnyRole('GERENTE', 'GARCOM')" />
		<intercept-url pattern="/paginas/todos/**" access="hasAnyRole('GERENTE', 'GARCOM', 'CAIXA')" />
		<intercept-url pattern="/**" access="denyAll" />
		
		<form-login login-page="/index.xhtml" default-target-url="/"
			always-use-default-target="true" authentication-failure-url="/index.xhtml?invalid=true"/>
		<logout logout-url="/j_spring_security_logout" invalidate-session="true"/>
	</http>

	<authentication-manager>
		<authentication-provider user-service-ref="appUserDetailsService">
		</authentication-provider>
	</authentication-manager>
</beans:beans>